.header{
    background: url(../img/banner.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.header .logo{
    position: absolute;
    top: 30px;
}
.header .logo img{
    width: 220px;
    height: 90px;
}
.header .menu-icon{
    display: none;
}
.header nav{
    float: right;
    display: flex;
    justify-content: space-between;
}
.header nav>ul>li,
.footer nav>ul>li{
    float: left;
}
.header a{
    font-size: 18px;
    letter-spacing: 6px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova Semibold";
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
    margin-top: 40px;
}
.header a:hover,
footer a:hover{
    color: rgba(255, 42, 0, 0.782);
}
.header .activi{
    color: rgba(255, 42, 0, 0.782);
}
.header .text{
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header .text h2,
.instagram .text p{
    font-size: 60px;
    letter-spacing: 36px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Proxima Nova Light";
    text-align: center;
}
.header .text h2 span,
.instagram .text p span{
    color: rgba(255, 42, 0, 0.782);
    font-family: "Proxima Nova Bold";
    font-size: 30px;
    display: block;
}
.arrow{
    width: 65px;
    height: 35px;
    position: absolute;
    bottom: 100px;
}
