@import './font.css';

.container-fluid{
    box-sizing: border-box;
    width: 100%;
    clear: both;
}
.container{
    margin: 0 auto;
    width: 1200px;
    box-sizing: border-box;
    position: relative; 
}
.header{
    background: url(../img/banner.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header .logo{
    position: absolute;
    top: 30px;
}
.header .logo img{
    width: 220px;
    height: 90px;
}
.header nav{
    float: right;
}
.header nav>ul>li{
    float: left;
}
.header a{
    font-size: 18px;
    letter-spacing: 6px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova Semibold";
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    text-align: center;
    margin-top: 40px;
}
.header a:hover{
    color: rgba(255, 42, 0, 0.782);
}
.header .activi{
    color: rgba(255, 42, 0, 0.782);
}
.header .text{
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header .text h2{
    font-size: 60px;
    letter-spacing: 36px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Proxima Nova Light";
    text-align: center;
}
.header .text h2 span{
    color: rgba(255, 42, 0, 0.782);
    font-family: "Proxima Nova Bold";
    font-size: 30px;
    display: block;
}
.arrow{
    width: 65px;
    height: 35px;
    position: absolute;
    bottom: 100px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}